$pink: #FF9393;

.content {
    ul li {
    font-size: 0.8rem;
    }

    a {
        text-decoration: none;
        color: $pink;
    }
    
    h3 {
        font-weight: bold;
        font-size: 0.8rem;
        text-transform: uppercase;
    }
}