.posts {
    list-style-type: none;
    margin: 0;
}

.post {
    margin: 0 0;
    padding: 0 0;

    a {
        text-decoration: none;
        color: #000000;
    }
    $pink: #FF9393;
    a:hover {
        color: $pink;
    }
}